# Ejercicios de tipos de datos

## Ejercicio 1

Crea una cadena de texto con el siguiente valor:

> Estoy practicando Python

'Estoy practicando Python'

## Ejercicio 2

Crea un valor entero, el que quieras, pero que sea entero.

In [18]:
1999

1999

## Ejercicio 3

Crea un valor decimal, el que quieras, pero que tenga al menos dos decimales

In [19]:
288.28

288.28

## Ejercicio 4

Crea un valor booleano, verdadero o falso, tu eliges.

In [25]:
True

True

## Ejercicio 5

Crea una lista de tres elementos que sean frutas.

In [20]:
['Manzana', 'Sandía', 'Fresa']

['Manzana', 'Sandía', 'Fresa']

## Ejercicio 6

Crea un diccionario, que sea por ejemplo, un película con tres propiedades, las que tu quieras.

In [21]:
{
    'nombre_pelicula': 'Batman: El Caballero Oscuro',
    'director': 'Christopher Nolan',
    'estreno': 2008
}

{'nombre_pelicula': 'Batman: El Caballero Oscuro',
 'director': 'Christopher Nolan',
 'estreno': 2008}

## Ejercicio 7

Crea una tupla de valores numéricos enteros, máximo 5 elementos.

In [22]:
(2007, 2008, 2009, 2010, 2011)

(2007, 2008, 2009, 2010, 2011)

## Ejercicio 8

Crea un set de 5 elementos decimales. Prueba a incluir algún dato duplicado, ¿a ver qué ocurre?

In [23]:
{10.1, 10.1, 23.3, 99.99, 100.1}

{10.1, 23.3, 99.99, 100.1}

## Ejercicio 9

Con type calcula el tipo entero

In [24]:
type(int)

type